<%- include('../header') %>

<style>
    .widget{
        background-color: white;
        min-height:100px;
        max-width: 300px;
        padding:20px;
    }
</style>

<!-- 
    main
-->

<div class="main bg-gray-200 p-5">
    <h1 class="text-xl font-medium">Admin Dashboard</h1>
    <nav class="bg-grey-light p-3 pl-0 text-sm rounded text-gray-600 font-sans w-full">
        <ol class="list-reset flex text-grey-dark">
            <li><a href="#" class="text-blue font-bold">Home</a></li>
            <li><span class="mx-2">></span></li>
            <li><a href="#" class="text-blue font-bold text-orange-500">Dashboard</a></li>
        </ol>
    </nav>

    <div class="widgetsContainer p-5 flex">
        <div class="widget">

        </div>
        <div class="widget">

        </div>
    </div>

</div>