<%- include('../../header') %>
<%- include('../dashHeaders') %>
<%- include('./sidenav') %>


<style>
    .widget {
        background-color: white;
        max-width: 775px;
        padding: 20px;
        margin: 10px;
        border-radius: 8px;
    }

    th {

        border: 1px solid #e6e6e6;
        padding: 1rem 2rem 1rem 2rem;
    }

    td {
        border: 1px solid #e6e6e6;
        padding: 1rem 2rem 1rem 2rem;
        text-align: center;
    }

    tr:hover {
        background-color: #f9f9f9;
    }
</style>

<div class="main bg-gray-200 p-5 h-full overflow-hidden">
    <h1 class="text-xl font-medium">Classes</h1>
    <nav class="bg-grey-light p-3 pl-0 text-sm rounded text-gray-600 font-sans w-full">
        <ol class="list-reset flex text-grey-dark">
            <li><a href="#" class="text-blue font-bold">Home</a></li>
            <li><span class="mx-2">></span></li>
            <li><a href="#" class="text-blue font-bold">Class</a></li>
            <li><span class="mx-2">></span></li>
            <li><a href="#" class="text-blue font-bold text-orange-500">New</a></li>
        </ol>
    </nav>

    <div class="widgetsContainer p-5 overflow-x-hidden h-full">
        <div class="row w-full flex">
            <div class="widget w-1/3">
                <h1 class="text-xl font-bold float-left mb-5">Add New Class</h1>
                <br>
                <form action="/console/teacher/class/new" method="POST" class="w-full h-auto float-left">

                    <div class="detail flex flex-col mr-5 mb-5">
                        <label for="className" class="mb-3">Class Name *</label>
                        <input type="text" name="className" class="px-4 py-3 rounded border bg-gray-200 w-full"
                            required>
                    </div>

                    <div class="detail flex flex-col mr-5 mb-5">
                        <label for="class" class="mb-3">Class *</label>
                        <select onchange="loadSubjects(this.value)" name="class"
                            class="px-4 py-3 rounded border bg-gray-200 w-full" required>
                            <option value="null">Please Select Class *</option>
                            <option value="play">Play</option>
                            <option value="nursery">Nursery</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                            <option value="4">Four</option>
                            <option value="5">Five</option>
                            <option value="6">Six</option>
                            <option value="7">Seven</option>
                            <option value="8">Eight</option>
                            <option value="9">Nine</option>
                            <option value="10">Ten</option>
                            <option value="11">Eleven</option>
                            <option value="12">Tweleve</option>
                        </select>
                    </div>

                    <div class="detail flex flex-col mr-5 mb-5">
                        <label for="section" class="mb-3">Section *</label>
                        <select name="section" class="px-3 py-2 rounded border bg-gray-200 w-full" required>
                            <option value="null">Please Select Section *</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                            <option value="G">G</option>
                            <option value="H">H</option>
                        </select>
                    </div>

                    <div class="detail flex flex-col mr-5 mb-5">
                        <label for="classDate" class="mb-3">Class Date *</label>
                        <input type="date" name="classDate" class="px-4 py-3 rounded border bg-gray-200 w-full"
                            required>
                    </div>

                    <div class="detail flex flex-col mr-5 mb-5">
                        <label for="classStartTime" class="mb-3">When will the class start? *</label>
                        <input type="time" name="classStartTime" class="px-4 py-3 rounded border bg-gray-200 w-full"
                            required>
                    </div>

                    <div class="detail flex flex-col mr-5 mb-5">
                        <label for="classEndTime" class="mb-3">When will the class end? *</label>
                        <input type="time" name="classEndTime" class="px-4 py-3 rounded border bg-gray-200 w-full"
                            required>
                    </div>

                    <div class="detail flex flex-col mr-5 mb-5">
                        <label for="classLink" class="mb-3">Class Link *</label>
                        <input type="text" name="classLink" class="px-4 py-3 rounded border bg-gray-200 w-full"
                            required>
                    </div>

                    <div class="row w-full flex mt-10 mx-auto">

                        <button class="bg-orange-400 p-3 rounded text-white w-48 mr-5">Save</button>
        
                    </div>

                </form>
            </div>

            <div class="widget w-4/5" style="max-height: 640px !important;">
                <h1 class="text-xl font-bold float-left mb-5">Classes</h1>
                <br>
                <p class="data" style="display: none;"><%- JSON.stringify(classes) %></p>
                <div class="mt-5 h-full float-left -ml-10 overflow-auto">
                    <input type="text" id="searchInput" onkeyup="searchTable()"
                        class="p-2 rounded my-4 w-4/5" placeholder="Search using class name">
                    <table id="classes" class="display overflow-auto" style="max-height: 640px !important;"
                        cellspacing="0">
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function loadSubjects(ofClass) {

        }

        constructTable(JSON.parse($('.data').html()), '#classes')

        function constructTable(list, selector) {
            $(selector).html("")
            // Getting the all column names 
            var cols = Headers(list, selector);

            // Traversing the JSON data 
            for (var i = 0; i < list.length; i++) {
                var row = $('<tr/>');
                for (var colIndex = 0; colIndex < cols.length; colIndex++) {
                    var val = list[i][cols[colIndex]];

                    // If there is any key, which is matching 
                    // with the column name 
                    if (val == null) val = "";
                    row.append($('<td/>').html(val));
                }

                // Adding each row to the table 
                $(selector).append(row);
            }

        }

        function Headers(list, selector) {
            var columns = [];
            var header = $('<tr/>');

            for (var i = 0; i < list.length; i++) {
                var row = list[i];

                for (var k in row) {
                    if ($.inArray(k, columns) == -1) {
                        columns.push(k);

                        // Creating the header 
                        header.append($('<th/>').html(k));
                    }
                }
            }

            // Appending the header to the table 
            $(selector).append(header);
            return columns;
        }

        function searchTable() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("classes");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>