<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="icon" href="http://iotine.zapto.org/IOTINE/IOTINE_OLD/logo.png" type="image/icon type">
<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    body {
        background-color: #edf2f7;
    }

    .accDrop,
    .regDrop {
        display: none;
    }

    .accBtn:hover .accDrop {
        display: block;
    }

    .regBtn:hover .regDrop {
        display: block;
    }

    .serviceLink {
        cursor: pointer
    }
</style>
<title>Iotine</title>

<style>
    .sideNav{
        position: fixed;
        top:0px;
        left:0px;
        height:100%;
        width:250px;
        z-index:0
    }
    .navItem{
        cursor:pointer
    }
    .main{
        width:calc(100% - 250px);
        margin-left:auto;
        height:auto;
    }
</style>

<header class="text-gray-700 body-font">
    <div class="mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 z-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-orange-500 rounded-full"
                viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl text-white">Scholar</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900">First Link</a>
            <a class="mr-5 hover:text-gray-900">Second Link</a>
            <a class="mr-5 hover:text-gray-900">Third Link</a>
            <a class="mr-5 hover:text-gray-900">Fourth Link</a>
        </nav>
        <button
            class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded-full text-base mt-4 md:mt-0 h-10 w-10">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</header>

<!-- 
     SideNav
-->

<div class="sideNav bg-gray-900 pt-24 px-8 text-white text-lg">
    <ul>
        <li class="navItem hover:bg-gray-800 p-3">Dashboard</li>
        <li class="navItem hover:bg-gray-800 p-3">Students</li>
        <li class="navItem hover:bg-gray-800 p-3">Teachers</li>
    </ul>

</div>
